/* font-family: 'Inconsolata', monospace; */
/* font-family: 'Space Mono', monospace; */
/* color : #333333 */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333333;
}

body {
  width: 80vw;
  height: 90vh;
}
.container {
  margin: 50px;
}

.header-text {
  font-family: "Inconsolata", monospace;
}

img {
  width: 600px;
  height: auto;
  padding-top: 100px;
  padding-left: 100px;
}

.container-right {
  position: absolute;
  top: 150px;
  left: 700px;
  width: 600px;
}

.bad-header {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 64px;
}

.bad-sub {
  margin-top: 30px;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 20px;
  width: 381px;
  height: 108px;
}

.button {
  margin-top: 40px;
  background: #333333;
  color: white;
  width: 216px;
  height: 68px;
  text-align: center;
  padding-top: 25px;
  font-family: "Space Mono";
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.credit {
  font-family: "Space Mono";
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  left: 50%;
}
@media (max-width: 500px) {
  img {
    width: 400px;
    height: auto;
    position: absolute;
    left: -15%;
    top: 10%;
  }

  .container-right {
    position: absolute;
    top: 450px;
    left: 10%;
    width: 300px;
    height: auto;
  }

  .bad-header {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 35px;
    height: 142px;
    width: 280px;
  }

  .bad-sub {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 18px;
    width: 300px;
    height: 81px;
  }

  .button {
    background: #333333;
    color: white;
    width: 180px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    font-family: "Space Mono";
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 50px;
    margin-left: 35px;
  }

  .credit {
    position: absolute;
    top: 800px;
    left: 100px;
    font-size: 12px;
  }
}
